/*********************/
/** TYPOGRAPHY **/
/*********************/

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.3rem;
  font-weight: 700;
}
h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 8px 0 16px 0;
}
h4 {
  font-size: 1.1rem;
  font-weight: 500;
}
h5 {
  font-size: 1rem;
  font-weight: 600;
}

p {
  font-size: 0.9rem;
}

ion-list-header {
  ion-label {
    margin-top: 24px;
  }
}

.legend {
  color: #6b6a79;
}
/*********************/
/** LAYOUT **/
/*********************/

ion-segment {
  margin-bottom: 16px;
}

.container {
  /*   display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; */
  height: 100%;
  width: 100%;
  padding: 4px;
}

.container-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insta-section {
  height: 100px;
  padding: 16px;
}

/*********************/
/** COMPONENTS **/
/*********************/

ion-button {
  --border-radius: 4px;
}

.big-avatar,
.no-big-avatar,
.big-avatar-skeleton {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.no-big-avatar {
  background-color: white;
}

.item-card {
  .metadata-end-wrapper {
    position: absolute;
    top: 10px;
    inset-inline-end: 10px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;

    ion-note {
      font-size: 0.8rem;
    }
  }

  ion-label strong {
    display: block;
    max-width: calc(100% - 60px);
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 8px;
  }

  ion-label ion-note {
    font-size: 0.9rem;
  }
}
// distance
.directionTrip__selected :before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 5px solid #3d5afe;
  height: 100%;
}
.directionTrip__selected {
  border-bottom: 2px solid var(--ion-color-primary);
}
