/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
